type file 
id Hornbill
title Hornbill
authors Tiny Blue Robots
description Easily create fake HTTP endpoints for integration testing
iconUrl https://dl.dropboxusercontent.com/u/11302680/nuget/hornbill.gif
projectUrl https://github.com/TinyBlueRobots/Hornbill
tags HTTP testing integration OWIN stub fake test web
files
  ../../build/Hornbill.* ==> lib
dependencies
  Microsoft.Owin.Hosting >= 3.0.1
  Microsoft.Owin.Host.HttpListener >= 3.0.1